{
  "labpath" : "sass-css/002-pseudo-elements",
  "sassIncludePaths": [],
  "jsIncludePaths": [
      "lab/sass-css/002-pseudo-elements/assets/js/main.js"
  ],
  "browserSync": {
    "port" : 3004
  }
}
